.CreateButton{
    width:64px;
    height: 64px;
}
.RemoveButton{
    padding: 8px;

    border-radius: 8px;
    box-shadow: 0 0 8px 0 var(--PrimaryColor);

    color: var(--PrimaryColor);
    font-size: 24px;
    font-weight: 300;

}